.conteiner {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border: 2px solid orangered;
  border-radius: 10px;
  width: 400px;
}

.title {
  text-align: center;
}

.form {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.labelUser {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.labelRoles {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
